<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <SelfContained>false</SelfContained>
    <PublishAot>false</PublishAot>
    <PublishReadyToRun>false</PublishReadyToRun>
    <PublishDir>$(MSBuildProjectDirectory)/../artifacts/publish/jit-fdd/</PublishDir>
  </PropertyGroup>
</Project>