<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <SelfContained>true</SelfContained>
    <PublishAot>true</PublishAot>
    <PublishReadyToRun>false</PublishReadyToRun>
    <StripSymbols>true</StripSymbols>
    <OptimizationPreference>Speed</OptimizationPreference>
    <PublishDir>$(MSBuildProjectDirectory)/../artifacts/publish/native-aot/</PublishDir>
  </PropertyGroup>
</Project>