POSTGRES_PASSWORD=postgres
PG_DATABASE=blogsamples
PG_USER=blogsamples
PG_PASSWORD=blogsamples
MSSQL_SA_PASSWORD=YourStrong@Passw0rd
ACCEPT_EULA=Y
POSTGRES_PORT=5432
SERVICEBUS_AMQP_PORT=5672
SERVICEBUS_ADMIN_PORT=5300
